form {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 0 auto;
}
input, textarea {
	font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 2rem;
  padding: 0 5px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
form button {
	margin-top: 10px;
}
textarea {
	height: 8rem;
}
label {
	font-size: 1.2rem;
	text-align: left;
	margin-top: 5px;
	padding: 2px 5px;
}
div.estimates {
	display: flex;
}
.estimates input {
	width: 90%;
	margin: 5px;
	font-size: 1rem;
}
.estimates label {
	font-size: 1rem;
}